page-walkthrough-page {
  ion-slides {

    height: 100% !important;

    .swiper-wrapper {

      .slide-1 {
       background-image: url('../assets/img/1.jpg'); 
       background-repeat:no-repeat;
       background-position: center center;
      }

      .slide-2 {
        background-image: url('../assets/img/2.jpg'); 
        background-repeat:no-repeat;
        background-position: center center;
      }

      .slide-3 {
        background-image: url('../assets/img/3.jpg'); 
        background-repeat:no-repeat;
        background-position: center center;
      }

      .slide-4 {
        background-image: url('../assets/img/4.jpg'); 
        background-repeat:no-repeat;
        background-position: center center;
      }

      .slide-5 {
        //background-color: color($colors, text, base);
        background-image: url('../assets/img/1.jpg'); 
        background-repeat:no-repeat;
        background-position: center center;
      }

      ion-slide {

        .slide-image {
          width: 50%;
        }

        .caption {
          margin-right: auto;
          margin-left: auto;
          margin-top: 40px;
          width: 80%;

          .slide-title {
            font-size: 3vh;
          }
        }
      }
    }

    .swiper-pagination {
      height: 50px;
      bottom: 60px !important;
      padding-top: 15px;
    }
  }

  .skip-button {
    z-index: 9999;
    position: absolute;
    bottom: 0;
  }
}
