<style>

.col {
    padding: 0;
    padding-bottom: 2px;
    width: 100%;
  }


</style>


<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CATEGORIES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class=" masters" #container>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_CATEGORIES' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="bookmark" [text]="'EMPTY_CATEGORIES' | translate">
  </empty-view>

  <ion-refresher no-border (ionRefresh)="onReload($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <!--   <ion-list *ngIf="isContentViewVisible">
    <ion-item color="light" *ngFor="let category of categories" (click)="goToPlaces(category)">
      <ion-avatar item-left>
        <img src="assets/img/tag.png" offset="100" [lazyLoad]="category.imageThumb.url()" [scrollTarget]="container.getScrollElement()">
      </ion-avatar>
      <h2>{{ category.title }}</h2>
    </ion-item>
  </ion-list> -->

  

  <div class="card-background-page" *ngFor="let category of categories" (click)="goToPlaces(category)">
<div class="wrapper">
    <div class="cols">
              <div class="col" >
                  <div class="container">
                      <div class="front" [style.backgroundImage]="'url(' + category.imageThumb.url() + ')'">
                          <div class="inner">
                              <h1>{{ category.title }}</h1>
                <!-- <span>Lorem ipsum</span> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
   </div>


  </div>


</ion-content>